<a href="https://colab.research.google.com/github/nirajgole/colab_research/blob/main/Regression/dphi_predicting_heart_disease_using_logistic_regression.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Predicting Heart Disease using Logistic Regression

In [8]:
import pandas as pd
import numpy as np
import statsmodels.api as sm
import scipy.stats as st
import matplotlib.pyplot as plt
import matplotlib.mlab as mlb
import seaborn as sn
from sklearn.metrics import confusion_matrix

# Data Preparation

In [9]:
url = 'https://raw.githubusercontent.com/dphi-official/Datasets/master/framingham.csv'
df=pd.read_csv(url)
df.drop('education',axis=1,inplace=True)
df.head()

,male,age,currentSmoker,cigsPerDay,BPMeds,prevalentStroke,prevalentHyp,diabetes,totChol,sysBP,diaBP,BMI,heartRate,glucose,TenYearCHD
0,1,39,0,0.0,0.0,0,0,0,195.0,106.0,70.0,26.97,80.0,77.0,0
1,0,46,0,0.0,0.0,0,0,0,250.0,121.0,81.0,28.73,95.0,76.0,0
2,1,48,1,20.0,0.0,0,0,0,245.0,127.5,80.0,25.34,75.0,70.0,0
3,0,61,1,30.0,0.0,0,1,0,225.0,150.0,95.0,28.58,65.0,103.0,1
4,0,46,1,23.0,0.0,0,0,0,285.0,130.0,84.0,23.10,85.0,85.0,0

In [10]:
df.rename(columns={'male':'Gender_male'},inplace=True)

In [11]:
# Missing values
df.isnull().sum()

Gender_male          0
age                  0
currentSmoker        0
cigsPerDay          29
BPMeds              53
prevalentStroke      0
prevalentHyp         0
diabetes             0
totChol             50
sysBP                0
diaBP                0
BMI                 19
heartRate            1
glucose            388
TenYearCHD           0
dtype: int64

In [12]:
count=0
for i in df.isnull().sum(axis=1):
  if i>0:
    count=count+1
print('Total no. of rows with missing values: ',count)
print('since it is only',round((count/len(df.index))*100), 'percent of the entire dataset the rows with missing values are excluded.')

Total no. of rows with missing values:  489
since it is only 12 percent of the entire dataset the rows with missing values are excluded.

In [13]:
df.index

RangeIndex(start=0, stop=4240, step=1)

RangeIndex(start=0, stop=4240, step=1)